{% extends "base.html" %}
{% load static %}

{% block container %}
  <div class="section">
    <div class="head"> <h1 >Build Your Dream Home With Us.</h1>
      <p>Begin your journey with Shivom Builders & Developers <br> <span>Best Construction Company in india</span></p></div>
    </div>
    <img src="{% static 'images/ppp.jpg' %}" alt="">

<h1 class="head2">Welcome to the Samridhhi Builders & Developers</h1>
    <p  class="p2"> Where We Build Your Visions At Shivom Builders & Developers, we’re dedicated to crafting spaces that inspire,
       innovate, and endure. With a legacy of excellence spanning decades, we bring together expertise, integrity, 
       and a passion for construction to create homes and commercial properties that stand the test of time.
    </p>
  
  <video class="video" src="{% static 'video/v1.mp4' %}" autoplay loop muted></video>
  <div class="partners"><h1 class="head2">Our Exclusive partners</h1>
  <div class="brand">
    <img src="{% static 'images/acc.png' %}" alt="">

    <img src="{% static 'images/jaquar.jpeg' %}" alt="">


    <img src="{% static 'images/kmd.jpeg' %}" alt="">
    <img src="{% static 'images/somaya.png' %}" alt="">
    <img src="{% static 'images/tat.jpeg' %}" alt="">
    <img src="{% static 'images/wonder.png' %}" alt="">



  </div>
  
  
  </div>



  <h2 class="head2">Get Your Free Consultation</h2>
<p class="p2">Our team of skilled professionals is here to guide you through every step of the construction process,
   from concept to completion. With a focus on transparency, communication, and superior craftsmanship, 
  we strive to exceed expectations and deliver exceptional results on every project.</p>
<div class="proj">
  <img src="{% static 'images/buil1.jpg' %}" alt="">
  <!-- <img src="{% static 'images/buil2.jpg' %}" alt=""> -->
  <!-- <img src="{% static 'images/flat1.jpg' %}" alt="">
  <img src="{% static 'images/flat2.jpg' %}" alt="">
  <img src="{% static 'images/flat3.jpg' %}" alt=""> -->



  

</div>


  
{% endblock %}
