{% extends "base.html" %}
{% load static %}

{% block container %}
<div class="profile"> 
<h1>Your profile</h1>

<h1>Your ID: {{ key.id }}</h1>
<h1>Your First Name: {{ key.fnm }}</h1>
<h1>Your Last Name: {{ key.lnm }}</h1>
<h1>Your Email: {{ key.email }}</h1>
<h1>Your Password:{{ key.password }}</h1>
{% for i in pic %}
{{i.image.url}}
<img src="{{i.image.url}}" alt="">
{% endfor %}

<button><a href="{% url 'user_update' key.id %}">UPDATE</a></button>
<button><a href="{% url 'update_profile' %}">Update image</a></button>

<button><a href="{% url 'user_delete' key.id %}">DELETE</a></button>
<button><a href="{% url 'user_logout' %}">LOGOUT</a></button>
</div>
{% endblock %}
